<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estimeet.meetup">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">
        <activity android:name=".ui.activity.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.estimeet.meetup"
            android:name=".model.database.SqliteProvider"
            android:exported="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3079a9957e68f68df335e1a9b7c0639f58b480a4" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
